.star {
  font-size: 1.5rem;
  color: #ded6b0;
}
.filled {
  color: #ffcf00;
}
.bad {
  color: #ded6b0;
}
.filled.bad {
  color: #ffcf00;
}

.question-container{
  border: 1px solid #d2d2d2;
  margin: 8px 0;
  padding: 10px;
  border-radius: 13px;
  box-shadow: 5px 8px 11px 0 rgb(0 0 0 / 20%);
  background: #fff;
  height: 100%;
  transition: all 0.3s ease-in-out;
  &:hover{
  box-shadow: 0px 0px 0px 0 rgb(0 0 0 / 20%);

  }
}



.upload-file {
  background-color: #f4f4f4;
  border: 1.5px dashed #8b8989;
  width: 100%;
  margin-bottom: 30px;
  max-height: 200px;

  &:hover {
    border-style: solid;
  }

  &.uploaded {
    border-color: transparent;

  }

  cursor: pointer;

  .show-photo {
    overflow: hidden;

    .icon {
      position: absolute;
      top: 15px;
      right: 15px;
      // transform:  scale(0);
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 14px;
      background: #ff6464;
      border-radius: 50%;
      transform-origin: center;
      transition: all 0.3s ease-in-out;
      z-index: 9999;

      .delete {
        fill: #FFF;
      }
    }

    // &:hover{
    //     .icon{
    //         transform: scale(1);
    //     }

    // }
    img {
      width: 100%;
      height: 100%;
      max-height: 270px;
      object-fit: cover;
    }
  }

  .icon-upload {
    margin-top: 1.2rem;
  }

  label {
    cursor: pointer;
  }

  input {
    opacity: 0;
    cursor: pointer;
  }

  h5 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 8px 0 2px;
  }

  p {
    font-size: 0.6rem;
    color: #8b8989;
    margin-bottom: 8px;
  }

  span {
    font-size: 1rem;
    color: #b2b2b2;
    margin: 12px;
    display: block;
  }

  .btn {
    background-color: #e43f5a;
    border: none;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;

    img {
      vertical-align: sub;
    }
  }


}


.iamgesUploaded {
  display: inline-block;
  position: relative;
  .delete {
      position: absolute;
      top: 5px;
      right: 20px;
      cursor: pointer;
  }
}

// position
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
