<section>
  <div class="container">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label> Farm Name</label>
            <select class="form-control" formControlName="name">
              <option value="Name1">Name 1</option>
              <option value="Name2">Name 2</option>
              <option value="Name3">Name 3</option>
              <option value="Name4">Name 4</option>
            </select>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-6">
          <div class="form-group">
            <label> Visit Date </label>
            <input type="date" class="form-control" formControlName="date" />
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- /row -->
      <hr />
      <h3 class="mb-3">Questions</h3>
      <div class="row" formArrayName="rate">
        <div
          class="col-lg-6 mb-3"
          *ngFor="let item of rate.controls; let i = index"
        >
          <div [formGroupName]="i" class="question-container">
            <p class="mb-0 mt-3">
              <b> {{ form.value.rate[i].question }}</b>
            </p>
            <ngb-rating formControlName="rateValue" [max]="5">
              <ng-template let-fill="fill" let-index="index">
                <span
                  class="star"
                  [class.filled]="fill === 100"
                  [class.bad]="index < 2"
                  >&#9733;</span
                >
              </ng-template>
            </ngb-rating>

            <div class="d-flex justify-content-end">
              <button class="btn btn-light" (click)="open(content, i)">
                Comment
              </button>
            </div>
          </div>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
      <div class="d-flex justify-content-center my-5">
        <button class="btn btn-success px-5" (click)="saveForm()">Save</button>
      </div>
    </form>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div formArrayName="rate">
        <div class="form-group" [formGroupName]="formIndex">
          <label> Farm Name</label>
          <textarea
            class="form-control"
            formControlName="comment"
            rows="3"
          ></textarea>
        </div>

        <div class="upload mx-auto mb-lg-0 mb-4">
          <div
            [ngClass]="{ uploaded: uploadedFile2.length > 0 }"
            class="
              upload-file
              d-flex
              flex-column
              justify-content-center
              mx-auto
              align-items-center
              position-relative
            "
          >
            <div class="text-center" *ngIf="uploadedFile2.length == 0">
              <input
                id="upload"
                type="file"
                multiple
                (change)="uploadFile2($event)"
                class="p-absolute"
                accept=".png,.jpg,.jpeg,.svg,.webp"
              />
              <img
                src="../../assets/cloud_upload.svg"
                alt="icon"
                class="icon-upload"
              />

              <h5>
                Drag & Drop Photo to upload
                <br />
                Maximum 20 Images
              </h5>
              <p>Or select an option below</p>
              <!-- <span>Maximum logo height 50px </span> -->
              <button class="btn">
                <img src="../../assets/folder.svg" alt="icon" />
                Browse files
              </button>
            </div>

            <div class="show-photo" *ngIf="uploadedFile2.length > 0">
              <div class="icon" (click)="clearFile2()">
                <img src="../../assets/modal-close.svg" alt="x" />
              </div>
              <!-- end icon-->
              <div *ngFor="let item of uploadedFile2; let i = index">
                <img [src]="uploadedFile2[i]" alt="photo" />
              </div>
            </div>
          </div>
          <!-- end upload-file-->
        </div>

        <div
          class="iamgesUploaded mr-2 mb-2"
          *ngFor="let item of urls; let i = index"
        >
          <img [src]="item" height="100px" class="trip-images" />

          <div class="delete">
            <img src="../../assets/modal-close.svg" (click)="removeImage(i)" />
          </div>
        </div>
        <p class="alert alert-danger text-center" *ngIf="urls.length > 20">
          You can only upload a maximum of 20 Images
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
