<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3" *ngFor="let item of comments">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.email }}</h6>
            <p class="card-text">
              {{ item.body }}
            </p>
            <a href="#" class="card-link">postId :{{ item.postId }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
