/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';
body,.toast-container{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.form-group{
  label{
    font-weight: bold;
  }
}
ngb-rating {
  span{
    font-size: 25px;
    color: #ffcf00;
  }
}
